*{
    margin:0px;
    padding: 0px;
}

.circulo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.circulo.c1{
    background-color: rgb(122, 196, 196);
}
.circulo.c2{
    background-color: rgb(136, 102, 216);
}
.circulo.c3{
    background-color: rgb(184, 146, 102);
}

.float-content{
    position: relative;
    width: 80vw;
    height: 90vh;
    margin: 5vh 10vw;
    border: 2px solid #c44949;
}

.float-content .c1{
    position: sticky;
    top: 10px;
    /*bottom: 0px;*/
    left: 100px;
    /*right: 0px;*/
}

.float-content .c2{
    position: absolute; /*no se queda fijado*/
    bottom: 0px;
    right: 0px;
}

.float-content .c3{
    position: fixed; /*se queda fijado a la pantalla asi baje o suba*/
    top: 0px;
    left: 0px;
}

/*zindex: mayor valor pone adelante al objeto*/